<br>
<div class="mb-4">
    <table class="table table-borderless" style="border: 1px solid #595959;">
        <thead>
            <tr>
                <th id="headTab" colspan="7" ><h3 style="display: inline;"> Comments on user</h3>
                </th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <br>
                <div [formGroup]="form " class="mx-auto" style="width: 90%;">
                    <textarea formControlName="content" rows="10" style="width: 100%;"></textarea><br><br>
                    <button class="btn btn-primary float-right" style="margin-left: 3px" (click)="onSubmit()">
                        <i class="far fa-save"></i> Save
                    </button>
                </div>
            </tr>
            <tr *ngFor="let item of obj.comments">
                <br>
                <div style="width: 90%;" class="mx-auto">
                <div style="border:1px solid #595959;">
                    <p>{{item.content}}</p>
                </div>
                <div class="float-right">
                    By {{item.userBO}} - Created on {{item.created}}
                </div>
            </div>
            </tr>
        </tbody>
    </table>
    {{form.value|json}}
</div>
